
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="table table-hover table-bordered ">
<thead class="table-gray">
<tr >
    <th scope="col">Legenda<br /> ______    Huidig concept<br />______    Nieuw concept</th>
    <th scope="col"><p>Lineair</p></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"><p>Circulair</p></th>
</tr>
</thead>
<tbody>
<tr>
    <th scope="row">Douche</th>
    <td>
        <label>
            <input type="radio" name="shower" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="shower" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="shower" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="shower" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
</tr>
<tr>
    <th scope="row">Wasbak</th>
    <td>
        <label>
            <input type="radio" name="sink" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="sink" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="sink" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="sink" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>

        </label>
    </td>
</tr>
<tr>
    <th scope="row">Radiator</th>
    <td>
        <label>
            <input type="radio" name="radiator" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="radiator" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="radiator" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="radiator" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
</tr>
<tr>
    <th scope="row">Verlichting</th>
    <td>
        <label>
            <input type="radio" name="lighting" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="lighting" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="lighting" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="lighting" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
</tr>
<tr>
    <th scope="row">Ventilatie</th>
    <td>

        <label>
            <input type="radio" name="ventilation" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="ventilation" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="ventilation" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
    <td>
        <label>
            <input type="radio" name="ventilation" />
            <img src="https://via.placeholder.com/100" />
            <p>
                <p>MCI: 0.987</p>
                <p>PCI: 0.02</p>
            </p>
        </label>
    </td>
</tr>
</tbody>
</table>

<table class="table table-hover table-bordered" style="width: 50%;">
    <thead>
    <tr>
        <td>TOTALEN</td>
        <td>SCI</td>
        <td>CO2</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Huidig Concept</td>
        <td>0.86</td>
        <td>634kg CO2 equiv</td>
    </tr>
    <tr>
        <td>Nieuw Concept</td>
        <td>0.94</td>
        <td>239kg CO2 equiv</td>
    </tr>
    </tbody>
</table>

<button class="btn">Bewaar gekozen materialen</button>
<br />
<br />
<button class="btn">Lees gekozen materialen</button>