@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <div class="row">
        <h1 class="col-sm-8">Building Future Cities</h1>
        <a class="addmaterial col-sm" href="https://localhost:44355/Navigation/AddMaterial">Toevoegen materiaal</a>
    </div>
    <p class="lead">Deze app is gemaakt door The Sharpers en is een tool om het CO2 equivalent bij het renoveren van woningen te verminderen</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Om te beginnen</h2>
        <p>
            Klik op een van de ruimtes in de navigatiebalk om te beginnen
        </p>
    </div>

</div>
