@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Building Future Cities</h1>
    <p class="lead">Deze app is gemaakt door The Sharpers en is een tool om het CO2 equivalent bij het renoveren van woningen te verminderen</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Om te beginnen</h2>
        <p>
            Klik op een van de ruimtes in de navigatiebalk om te beginnen
        </p>
    </div>
    
</div>