@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1 class="col-sm-8">Welkom, Frank!</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Om te beginnen</h3>
        <p>
            Klik op een van de ruimtes in de navigatiebalk om een configuratie te maken.
        </p>
    </div>

</div>
