@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Building Future Cities</h1>
    <p class="lead">This app is made by The Sharpers and is a tool used to lower the CO2 equivalent of modern households</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            Click on one of the links in the main menu to start comparing materials
        </p>
    </div>
    
</div>