
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="table table-hover table-responsive table-bordered ">
    <thead class="table-white">
        <tr>
            <th scope="col">Legenda <br /><br /><img class="house-icon" src="https://www.iconfinder.com/data/icons/google-material-design-3-0/48/ic_home_48px-512.png" />&#8239;&#8239;&#8239;&#8239;&#8239;&#8239;&#8239;Huidig Concept</th>
            <th scope="col" class="table-cell-darkgrey"><p>Lineair</p></th>
            <th scope="col" class="table-cell-grey"><p>Low-Circulair</p></th>
            <th scope="col" class="table-cell-lightgrey"><p>Medium-Circulair</p></th>
            <th scope="col" class="table-cell-mint"><p>Circulair</p></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Shower</th>
            <td class="table-cell-darkgrey">
                <label>
                    <input type="radio" name="shower" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <img class="house-icon" src="https://www.iconfinder.com/data/icons/google-material-design-3-0/48/ic_home_48px-512.png" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>

                    </p>
                </label>
            </td>
            <td class="table-cell-grey">
                <label>
                    <input type="radio" name="shower" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
            <td class="table-cell-lightgrey">
                <label>
                    <input type="radio" name="shower" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
            <td class="table-cell-mint">
                <label>
                    <input type="radio" name="shower" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
        </tr>
        <tr>
            <th scope="row">Sink</th>
            <td class="table-cell-darkgrey">
                <label>
                    <input type="radio" name="sink" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <img class="house-icon" src="https://www.iconfinder.com/data/icons/google-material-design-3-0/48/ic_home_48px-512.png" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
            <td class="table-cell-grey">
                <label>
                    <input type="radio" name="sink" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
            <td class="table-cell-lightgrey">
                <label>
                    <input type="radio" name="sink" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
            <td class="table-cell-mint">
                <label>
                    <input type="radio" name="sink" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>

                </label>
            </td>
        </tr>
        <tr>
            <th scope="row">Radiator</th>
            <td class="table-cell-darkgrey">
                <label>
                    <input type="radio" name="radiator" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <img class="house-icon" src="https://www.iconfinder.com/data/icons/google-material-design-3-0/48/ic_home_48px-512.png" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
            <td class="table-cell-grey">
                <label>
                    <input type="radio" name="radiator" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
            <td class="table-cell-lightgrey">
                <label>
                    <input type="radio" name="radiator" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
            <td class="table-cell-mint">
                <label>
                    <input type="radio" name="radiator" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
        </tr>
        <tr>
            <th scope="row">Lighting</th>
            <td class="table-cell-darkgrey">
                <label>
                    <input type="radio" name="lighting" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <img class="house-icon" src="https://www.iconfinder.com/data/icons/google-material-design-3-0/48/ic_home_48px-512.png" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
            <td class="table-cell-grey">
                <label>
                    <input type="radio" name="lighting" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
            <td class="table-cell-lightgrey">
                <label>
                    <input type="radio" name="lighting" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
            <td class="table-cell-mint">
                <label>
                    <input type="radio" name="lighting" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
        </tr>
        <tr>
            <th scope="row">Ventilation</th>
            <td class="table-cell-darkgrey">

                <label>
                    <input type="radio" name="ventilation" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <img class="house-icon" src="https://www.iconfinder.com/data/icons/google-material-design-3-0/48/ic_home_48px-512.png" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
            <td class="table-cell-grey">
                <label>
                    <input type="radio" name="ventilation" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
            <td class="table-cell-lightgrey">
                <label>
                    <input type="radio" name="ventilation" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
            <td class="table-cell-mint">
                <label>
                    <input type="radio" name="ventilation" onclick="stateCheckInput()" />
                    <img src="https://via.placeholder.com/100" />
                    <p>
                    <p>MCI: 0.987</p>
                    <p>PCI: 0.02</p>
                    </p>
                </label>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-bordered" style="width: 50%;">
    <thead>
        <tr>
            <td>TOTALEN</td>
            <td>SCI</td>
            <td>CO2</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Huidig Concept</td>
            <td>0.86</td>
            <td>634kg CO2 equiv</td>
        </tr>
        <tr>
            <td>Nieuw Concept</td>
            <td>0.94</td>
            <td>239kg CO2 equiv</td>
        </tr>
    </tbody>
</table>

<button class="btn">Bewaar gekozen materialen</button>
<br />
<br />
<button class="btn">Lees gekozen materialen</button>


