
@{
    ViewBag.Title = "Profile";
}

<h2>Profiel</h2>

<div class="row">
    <a class="addmaterial" href="https://localhost:44355/Navigation/AddMaterial">Toevoegen materiaal</a>
</div>

<div class="row">
    <a class="addmaterial" href="https://localhost:44355/Navigation/RegisterProfile">Registreer Profiel</a>
</div>
<li>@Html.ActionLink("Configuratie", "Configuration", "Navigation")</li>

