
@{
    ViewBag.Title = "Profile";
}

<h2>Profiel</h2>

<li>@Html.ActionLink("Configuratie", "Configuration", "Navigation")</li>


<a class="addmaterial col-sm" href="https://localhost:44355/Navigation/AddMaterial">Toevoegen materiaal</a>
