@using BuildingFutureCitiesApp.Models


<div class="jumbotron text-center ">
    <h2>Stel hier uw <span class="font-weight-bold">@ViewBag.Message</span> samen.</h2>
</div>
<div class="row sticky-top border border-dark center-text">

    
    <div class="table-cell-darkgrey col-3">
        <p>Lineair</p>
        <p>3kg of hoger</p>
    </div>
    <div class="table-cell-grey col-3">
        <p>Low-Circulair</p>
        <p>2kg-3kg</p>
    </div>
    <div class="table-cell-lightgrey col-3">
        <p>Medium-Circulair</p>
        <p>1kg-2kg</p>
    </div>
    <div class="table-cell-mint col-3">
        <p>Circulair</p>
        <p>1kg of lager</p>
    </div>
       
    
</div>
<br />
<form>
    <table class="table table-hover table-responsive table-bordered ">
        

        
        <tbody>

            @foreach (List<Material> rowMaterials in ViewBag.BathroomRowList)
            {
                <tr>
                    <th scope="row">
                        @if (rowMaterials.Count > 0)
                        {
                            Write(rowMaterials[0].ObjectLiveAreaFunction);
                        }
                        else
                        {
                            Write("No items found");
                        }
                    </th>

                    @foreach (Material material in rowMaterials)
                    {

                        <td class="@if (material.EmbodiedCO2 < 1.0f){Write("table-cell-mint");}
                                   else if (material.EmbodiedCO2 > 0.9999f && material.EmbodiedCO2 < 2.0f){Write("table-cell-lightgrey");}
                                   else if (material.EmbodiedCO2 > 1.9999f && material.EmbodiedCO2 < 3.0f){Write("table-cell-grey");}
                                   else if (material.EmbodiedCO2 > 2.9999f){Write("table-cell-darkgrey");}">
                            <label>
                                <input type="radio" name="@if (material != null)
                                                          {
                                                              Write(material.ObjectLiveAreaFunction);
                                                          }
                                                          else
                                                          {
                                                              Write("null");
                                                          }"
                                       value="@material.Id"
                                       onclick="stateCheckInput()"
                                       required="required" />
                                <img src="https://picsum.photos/100" />
                                <p>
                                <p>@material.MaterialName</p>
                                <p>CO2: @material.EmbodiedCO2 kg CO₂ / kg</p>
                                <p>PCI: 0.02</p>

                                </p>
                            </label>
                        </td>

                    }
                </tr>

            }

        </tbody>
    </table>


    <table class="table table-hover table-bordered" style="width: 50%;">
        <thead>
            <tr>
                <td>TOTALEN</td>
                <td>SCI</td>
                <td>CO2</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lineaire variant</td>
                <td>0.86</td>
                <td>634kg CO2 equiv</td>
            </tr>
            <tr>
                <td>Circulaire variant</td>
                <td>0.94</td>
                <td>239kg CO2 equiv</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" formaction="https://localhost:44355/SelectedMaterial/create" formmethod="post">Bevestig keuze</button>
    <br />
    <br />

</form>


