body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar {
    margin-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.addmaterial {
    position: relative;
    color: black;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #425fff;
    color: white;
    font-size: medium;
    padding: 6px 18px 6px 18px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
    .addmaterial:hover {
        text-decoration: none;
        background-color: #0022e0;
        color: white;
    }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .dl-horizontal dt {
        white-space: normal;
    }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.table-gray > tr {
    background-color: gray;
    color: white;
}
.table-white > tr {
    background-color: white;
    color: black;
}
label {
    width: 100%;
}
.line {
    position: absolute;
    top: -25px;
}
.table-cell-darkgrey {
    background-color: #797a7e;
    color: black;
}
.table-cell-grey {
    background-color: #d8d3cd;
    color: black;
}
.table-cell-lightgrey {
    background-color: #f7f2e7;
    color: black;
}
.table-cell-mint {
    background-color: #e0ece4;
    color: black;
}
.table-cell-selected {
    filter: brightness(75%);
}
.house-icon {
    width: 25px;
}

.addmaterialAlignment{
    margin-top: 3px;
}
