@{
    ViewBag.Title = "Helaas";
}

<h2>Er ging iets mis :(</h2>
<br />
<h4>Probeer het later nog een keer.</h4>
<br/>
<a href="https://localhost:44355/Navigation/index" class="addmaterial">Home</a>

